<mat-drawer-container class="containerMain" >
    <mat-drawer mode="side" opened>
        <mat-list role="list">
            <mat-list-item role="listitem" routerLink="Home" [routerLinkActive]="'active'">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon> 
                <span>Home</span>
            </mat-list-item>
            <mat-list-item role="listitem" routerLink="ToDolist" [routerLinkActive]="'active'">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="table_chart"></mat-icon> 
                <span>ToDoList</span>
            </mat-list-item>
            <mat-list-item role="listitem" routerLink="News" [routerLinkActive]="'active'">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="newspaper"></mat-icon> 
                <span>News</span>
            </mat-list-item>
            <mat-list-item role="listitem" routerLink="Weather" [routerLinkActive]="'active'">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="wb_sunny"></mat-icon> 
                <span>Meteo</span>
            </mat-list-item>
            <mat-list-item role="listitem" routerLink="Maps" [routerLinkActive]="'active'">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="navigation"></mat-icon> 
                <span>Maps</span>
            </mat-list-item>
            <mat-list-item role="listitem" routerLink="Calendar" [routerLinkActive]="'active'">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="calendar_today"></mat-icon> 
                <span>Calendario</span>
            </mat-list-item>
            <mat-list-item role="listitem" routerLink="Rubrica" [routerLinkActive]="'active'">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="contact_phone"></mat-icon> 
                <span>Rubrica</span>
            </mat-list-item>
            <mat-list-item role="listitem" routerLink="RegistroChiamate" [routerLinkActive]="'active'">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="settings_phone"></mat-icon>
                <span>Registro contatti</span>
            </mat-list-item>
            <mat-list-item role="listitem" routerLink="Message" [routerLinkActive]="'active'">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="message"></mat-icon> 
                <span>Messaggi</span>
            </mat-list-item>
        </mat-list>       
    </mat-drawer>

    <mat-drawer-content>
        <mat-toolbar color="primary">
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
              <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
              <mat-icon>share</mat-icon>
            </button>
          </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
  