/*SIDEBAR*/
.containerMain {
    width: 100%;
    height: 100%;
    border: 1px solid #555;
  }
.active{
  background-color: rgb(151, 147, 147);
  border-radius: 10%;
}
mat-drawer{
  background-color: rgb(43, 41, 41);
}
mat-list span{
  color: white;
  padding-left: 10%; 
}
mat-icon{
  color: white; 
}

/*SEZIONE PRINCIPALE*/
.example-spacer {
  flex: 1 1 auto;
}